@CHARSET "UTF-8";
* {
    font-family: Arial;
    font-style: italic;
}

body {
	background-color:#eeeeee;
	color:#212121;
}

#container {
	z-index:-1;
	width: 95%;
	height: 80%;
	position:absolute;
}


#loadStatus {
	width: 95%;
	height: 6%;
	top: 200px;
	text-align:center;
	position:absolute;
}

#prompt {
	width: 95%;
	height: 6%;
	bottom: 30px;
	text-align:center;
	position:absolute;
}

#listing {
	width: 256px;
	height: 20%;
	top: 30px;
	left: 30px;
	text-align:center;
	position:absolute;
}

